#buttons {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 30px;
}

#rock, #paper, #scissors {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#results {
    display: flex;
    justify-content: center;
}

#winner {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 60px;
    font-style: bold;
    color:darkorchid;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    display:flex;
    justify-content: center;
    color:steelblue;
}